// Footer SCSS
.footer__about__logo {
  a {
    display: inline-block;
  }
}

.footer__widget {
  margin-bottom: 30px;
  overflow: hidden;

  h6 {
    color: #1c1c1c;
    font-weight: 700;
    margin-bottom: 10px;
  }

  ul {
    width: 50%;
    float: left;

    li {
      list-style: none;

      a {
        color: #1c1c1c;
        font-size: 14px;
        line-height: 32px;
      }
    }
  }

  p {
    font-size: 14px;
    color: #1c1c1c;
    margin-bottom: 30px;
  }

  form {
    position: relative;
    margin-bottom: 30px;

    input {
      width: 100%;
      font-size: 16px;
      padding-left: 20px;
      color: #1c1c1c;
      height: 46px;
      border: 1px solid #ededed;

      &::placeholder {
        color: #1c1c1c;
      }
    }

    button {
      position: absolute;
      right: 0;
      top: 0;
      padding: 0 26px;
      height: 100%;
    }
  }

  .footer__widget__social {
    a {
      display: inline-block;
      height: 41px;
      width: 41px;
      font-size: 16px;
      color: #404040;
      border: 1px solid #ededed;
      border-radius: 50%;
      line-height: 38px;
      text-align: center;
      background: #ffffff;
      transition: all 0.3s;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
      &:hover {
        background: #ff9933;
        color: #ffffff;
        border-color: #ffffff;
      }
    }
  }
}

.footer__copyright {
  border-top: 1px solid #ebebeb;
  padding: 15px 0;
  overflow: hidden;
  margin-top: 20px;

  &__text {
    font-size: 14px;
    color: #1c1c1c;
    float: left;
    line-height: 25px;
  }
  &__payment {
    float: right;
  }
} 